.AppPagInicial{
    height: 100vh;
}
.pedidos{
    height: 31.3vh;
}
.generos{
    height: 31.3vh;
    background-color: #FF8C00;
}
.produtos{
    height: 31.3vh;
    background-color: #00FFFF;

}
img{
    width: 100%;
}